<video width="320" height="240" style="margin-top:50px" controls>
    <source src="videos/college.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<p><b><u><font face="Tahoma"><h3>Note:</h3></font></u></b></p>

<div class="newspaper">
    Please pay attention. This is an amazing app which was made by the following persons: daniel engel eran avraham guy eagelberg. You are not allowed to copy even one code line from this website without permission. It was written with Mean Stack technologies.
</div>	