<form name="messageForm" ng-submit="messageEditor.save(messageForm)" layout="column" layout-align="center center">
    <div layout="column">
        <div layout="row">
            <label flex flex-order="1">שם הודעה</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.name">
        </div>
        <div layout="row">
            <label flex flex-order="1">אורך הודעה</label>
            <input type="number" flex flex-order="2" ng-model="messageEditor.message.time">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה ראשונה</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[0]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה שניה</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[1]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה שלישית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[2]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה רביעית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[3]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה חמישית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[4]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה שישית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[5]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה שביעית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[6]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה שמינית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[7]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה תשיעית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[8]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הודעה עשירית</label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[9]">
        </div>
        <div layout="row">
            <label flex flex-order="1">הוספת תמונה</label>
            <input type="file" nv-file-select uploader="messageEditor.uploader" flex flex-order="2" multiple/>

            <ul class="image">
                <li ng-repeat="image in messageEditor.uploader.queue">
                    {{messageEditor.uploader.isHTML5}}
                    <div ng-show="messageEditor.uploader.isHTML5" ng-thumb="{ file: image._file, height: 100 }"></div>
                    <div class="layer">{{ image._file.name }}</div>
                </li>
            </ul>
        </div>
        <div layout="row">
            <label flex flex-order="1">בחירת תבנית תצוגה </label>
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.template">
        </div>
        <div layout="row">
            <label flex flex-order="1">קביעת מסגרת זמנים</label>
            <input type="text" flex flex-order="2">
        </div>
        <md-button >שמור</md-button>
    </div>
</form>