<form name="messageForm" ng-submit="messageEditor.save(messageForm)" layout="column" layout-align="center center">
    <div layout="column">
        <div layout="row" class="space-top">
            <input name="name" type="text" flex flex-order="2" ng-model="messageEditor.message.name" required>
            <label flex flex-order="1">message name</label>
        </div>
        <div layout="row" class="space-top">
            <input type="number" flex flex-order="2" ng-model="messageEditor.message.time" min="0">
            <label flex flex-order="1">message length</label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[0]">
            <label flex flex-order="1">first message</label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[1]">
            <label flex flex-order="1">second message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[2]">
            <label flex flex-order="1">third message</label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[3]">
            <label flex flex-order="1">fourth message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[4]">
            <label flex flex-order="1">fifth message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[5]">
            <label flex flex-order="1"> sixth message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[6]">
            <label flex flex-order="1"> seventh message</label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[7]">
            <label flex flex-order="1"> eight message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[8]">
            <label flex flex-order="1"> ninth message </label>
        </div>
        <div layout="row" class="space-top">
            <input type="text" flex flex-order="2" ng-model="messageEditor.message.text[9]">
            <label flex flex-order="1">ten message</label>
        </div>
        <div layout="row" class="space-top">
            <input type="file" nv-file-select uploader="messageEditor.uploader" flex flex-order="2" multiple/>
            <label flex flex-order="1">add picture </label>
        </div>
        <div layout="row" layout-align="center center" class="space-top">
            <ul flex="25"  rn-carousel class="image" style="height: 100px; border: 5px solid;border-radius: 25px;">
                <li ng-repeat="picture in messageEditor.message.pictures" >
                    <img src='{{picture}}' height="100" width="125"/>
                </li>
            </ul>
        </div>
        <div layout="row" class="space-top">
            <select flex flex-order="2" ng-model="messageEditor.message.template" ng-options="template.name for template in messageEditor.allTemplates"></select>
            <!--<input type="text" flex flex-order="2" ng-model="messageEditor.message.template" required>-->
            <label flex flex-order="1"> choose template </label>
        </div>
        <div layout="row" class="space-top">
            <button flex flex-order="2" type="button" ng-click="messageEditor.addFrame()"> add</button>
            <label flex flex-order="1"> add time frame </label>
        </div>
        <div layout="column" ng-repeat="frame in messageEditor.message.timeFrames">
            <div layout="row" flex flex-order="1">
                <input flex flex-order="2" type="date" ng-model="frame.dateFrom">
                <label flex flex-order="1">date from </label>
            </div>
            <div layout="row" flex flex-order="2">
                <input flex flex-order="2" type="date" ng-model="frame.dateTo">
                <label flex flex-order="1"> date till</label>
            </div>
            <ui-select flex flex-order="3" multiple  ng-model="frame.dayOfTheWeek" theme="bootstrap">
                <ui-select-match placeholder="Select days of the week">{{$item}}</ui-select-match>
                <ui-select-choices repeat="item in messageEditor.days">
                    <div>{{item}}</div>
                </ui-select-choices>
            </ui-select>
            <div layout="row" flex flex-order="4">
                <input flex flex-order="2" type="time" ng-model="frame.timeOfDayFrom">
                <label flex flex-order="1"> time from</label>
            </div>
            <div layout="row" flex flex-order="5">
                <input flex flex-order="2" type="time" ng-model="frame.timeOfDayTo">
                <label flex flex-order="1">time till</label>
            </div>
            <button flex flex-order="6" ng-click="messageEditor.removeFrame($index)" >delete</button>
        </div>
        <md-button >save</md-button>
    </div>
</form>