<div layout="column">
    <div layout="column" layout-align="center center">
        <div layout="column">
            <div layout="row" class="space-top">
                <label flex flex-oreder="1" offset="5"> chose screen</label>
                <input flex  flex-oreder="2" type="number" min="0" ng-model="messageByDateTime.message.displayStationId">
                <label flex flex-oreder="3" offset="5">choose date </label>
                <input flex="30" flex-oreder="4" type="datetime-local" ng-model="messageByDateTime.message.date">
                <md-button ng-click="messageByDateTime.getMessage()">show</md-button>
            </div>
        </div>
    </div>
    <div layout="column">
        <div ng-repeat="message in messageByDateTime.messages">
            <ng-include src="message.template"></ng-include>
        </div>
    </div>
</div>
