<div style="background: red">
  <h1>TEMPLATE A</h1>
  <section>
    <div id="1Text">{{message.text[0]}}</div>
    <br>
    <div id="2Text">{{message.text[1]}}</div>
    <br>
    <div id="3Text">{{message.text[2]}}</div>
    <br>
    <div id="4Text">{{message.text[3]}}</div>
    <br>
    <div id="5Text">{{message.text[4]}}</div>
    <br>
    <div id="6Text">{{message.text[5]}}</div>
    <br>
    <div id="7Text">{{message.text[6]}}</div>
    <br>
    <div id="8Text">{{message.text[7]}}</div>
    <br>
    <div id="9Text">{{message.text[8]}}</div>
    <br>
    <div id="10Text">{{message.text[9]}}</div>
  </section>

  <br>
  <div id="1Picture"><img src='{{message.pictures[0]}}' height="100" width="125"/></div>
  <br>
  <div id="2Picture"><img src='{{message.pictures[1]}}' height="100" width="125"/></div>
  <br>
  <div id="3Picture"><img src='{{message.pictures[2]}}' height="100" width="125"/></div>
  <br>
  <div id="Picture"><img src='{{message.pictures[3]}}' height="100" width="125"/></div>
  <br>
  <div id="5Picture"><img src='{{message.pictures[4]}}' height="100" width="125"/></div>
</div>

