<div style="background: blue">
  <h1>TEMPLATE B</h1>
  <div id="1Text"></div>
  <br>
  <div id="2Text"></div>
  <br>
  <div id="3Text"></div>
  <br>
  <div id="4Text"></div>
  <br>
  <div id="5Text"></div>
  <br>
  <div id="6Text"></div>
  <br>
  <div id="7Text"></div>
  <br>
  <div id="8Text"></div>
  <br>
  <div id="9Text"></div>
  <br>
  <div id="10Text"></div>
  <br>
  <div id="1Picture"></div>
  <br>
  <div id="2Picture"></div>
  <br>
  <div id="3Picture"></div>
  <br>
  <div id="Picture"></div>
  <br>
  <div id="5Picture"></div>
</div>
